.GroupMessages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.GroupMessages__oldmessage {
  user-select: all;
  -moz-user-select: all;
  -khtml-user-select: all;
  -webkit-user-select: all;
}

.GroupInfoModal__container {
  max-height: 40vh;
  overflow: scroll;
}

.GroupInfoModal__container h4 {
  font-weight: bold;
  margin-left: 7%;
  text-shadow: 0px 0px 2px var(--templateColor1),
    0px 0px 1px var(--templateColor1);
}

.GroupInfoModal__container h6 {
  font-weight: bold;
  margin-left: 7%;
  margin-top: 0%;
}

.GroupMessages__info_select:focus {
  box-shadow: 0px 0px 10px var(--logoBgColor), 0px 0px 20px var(--logoBgColor);
}

.GroupMessages__info_owner:disabled {
  text-transform: uppercase;
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  font-weight: bold;
  /* box-shadow: 0px 0px 10px var(--logoBgColor), 0px 0px 20px var(--logoBgColor); */
  border-left: none;
}

.GroupMessages__button {
  background-color: var(--templateColor1);
  margin-bottom: 10%;
  color: var(--logoTextColor);
  border: 1px solid var(--logoTextColor);
  padding: 3%;
  border-radius: 5px;
  margin-left: 10%;
  width: 80%;
  box-shadow: 0px 0px 10px var(--logoBgColor), 0px 0px 10px var(--logoBgColor),
    0px 0px 50px var(--logoBgColor);
}

.GroupMessages__button:hover {
  background-color: var(--logoBgColor);
  color: var(--logoTextColor);
  box-shadow: 0px 0px 10px var(--templateColor1),
    0px 0px 10px var(--templateColor1), 0px 0px 50px var(--templateColor1);
}

.GroupMessages__info_button {
  position: relative;
  top: 10%;
  left: 50%;
}

.GroupMessages__info_button:hover {
  position: relative;
  top: 11%;
  left: 51%;
  cursor: help;
}

.GroupMessages .fa-bars {
  position: absolute;
  top: 3%;
  left: 50%;
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
}

.GroupMessages__container {
  display: flex;
  border: 1px solid var(--templateColor1);
  width: 95%;
  height: 100%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 3px 5px 20px var(--templateColor1);
}

.GroupMessages__sidebar {
  box-shadow: 5px 10px 20px var(--logoBgColor);
  height: 100%;
  overflow: scroll;
}

.GroupMessages__sidebar_top {
  height: 60%;
  overflow: scroll;
}
.GroupMessages__sidebar_bottom {
  height: 40%;
}

.GroupMessages__chat {
  box-shadow: 5px 10px 20px var(--logoBgColor);
  height: 100%;
  padding: 2%;
  overflow: scroll;
  padding-bottom: 0%;
}

.GroupMessages__connections {
  border: 2px solid var(--logoBgColor);
}

.GroupMessages__connections {
  margin-bottom: 2%;
  padding: 1%;
  background-color: var(--logoTextColor);
  box-shadow: 0px 6px 10px var(--logoBgColor);
  border-radius: 10px;
}

.GroupMessages__connections img {
  border-radius: 100%;
  width: 10%;
  float: left;
}

.GroupMessages__connections h5 {
  font-weight: bold;
  width: 80%;
  float: left;
  position: relative;
  top: 20%;
  left: 2%;
  overflow: scroll;
}

.GroupMessages__connections:hover {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  box-shadow: 20px 20px 40px var(--templateColor1);
  cursor: pointer;
}

.GroupMessages__connections_active {
  background-color: var(--logoBgColor);
  color: var(--logoTextColor);
  box-shadow: 20px 20px 40px var(--templateColor1);
}

.GroupMessages__chatarea {
  height: 90%;
  overflow: scroll;
  padding: 2%;
}

.GroupMessages__inputarea .customform {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  padding-right: 23%;
}

.GroupMessages__inputarea .customform:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--logoBgColor), 0px 0px 20px var(--logoBgColor),
    0px 0px 20px var(--logoBgColor);
}

.GroupMessages__inputarea .fa {
  float: right;
  position: relative;
  bottom: 28px;
  color: var(--logoTextColor);
  margin: 0px 15px 0px 5px;
}

.GroupMessages__message {
  position: relative;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  width: fit-content;
  color: var(--logoBgColor);
  font-weight: bold;
  max-width: 50%;
  overflow-wrap: break-word;
  box-shadow: 5px 5px 10px var(--templateColor1);
}

.GroupMessages__date {
  position: relative;
  font-size: 10px;
  font-weight: bold;
}

.GroupMessages__time {
  font-size: 10px;
  font-weight: bold;
}

.GroupMessages__message.sender {
  background-color: var(--senderMessageColor);
  float: right;
  clear: left;
}

.GroupMessages__message.receiver {
  background-color: var(--receiverMessageColor);
  float: left;
  clear: right;
}

.GroupMessages__date.sender {
  float: right;
  clear: left;
}

.GroupMessages__date.receiver {
  float: left;
  clear: right;
}

.GroupMessages__time.sender {
  float: right;
  clear: left;
}

.GroupMessages__time.receiver {
  float: left;
  clear: right;
}

.GroupMessages__message_hover {
  display: block;
  font-size: 0.8em;
  float: right;
}

.GroupMessages__message_non_hover {
  display: none;
}

.GroupMessages__message.sender .GroupMessages__delete_button {
  position: absolute;
  float: right;
  top: 45%;
  right: 5%;
}

.GroupMessages__message.sender .GroupMessages__edit_button {
  position: absolute;
  float: left;
  top: 45%;
  left: 5%;
}

.GroupMessages__message.receiver .GroupMessages__delete_button {
  position: absolute;
  float: right;
  top: 45%;
  right: 5%;
}

.GroupMessages__message.receiver .GroupMessages__edit_button {
  position: absolute;
  float: left;
  top: 45%;
  left: 5%;
}

@media (max-width: 900px) {
  .GroupMessages__message.sender .GroupMessages__delete_button {
    top: 15%;
    right: -12%;
  }

  .GroupMessages__message.sender .GroupMessages__edit_button {
    top: 15%;
    left: -12%;
  }

  .GroupMessages__message.receiver .GroupMessages__delete_button {
    top: 5%;
    right: -16%;
  }

  .GroupMessages__message.receiver .GroupMessages__edit_button {
    top: 5%;
    left: -16%;
  }

  .GroupMessages__info_button {
    left: 20%;
  }

  .GroupMessages__info_button:hover {
    left: 21%;
  }
  .GroupMessages__container {
    flex-direction: column;
    padding-top: 20%;
  }

  .GroupMessages__connections {
    margin-bottom: 2%;
  }
  .GroupMessages__chat {
    padding-top: 5%;
    padding-bottom: 0%;
  }

  .GroupMessages__inputarea .customform {
    padding-right: 35%;
  }

  .GroupMessages .fa-bars {
    position: absolute;
    top: 6%;
    left: -12%;
    background-color: var(--templateColor3);
    color: var(--logoBgColor);
  }
}
