.DirectMessages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.DirectMessages .fa-bars {
  position: absolute;
  top: 3%;
  left: 50%;
  background-color: #5d001e;
  color: white;
}

.DirectMessages__container {
  display: flex;
  border: 1px solid #5d001e;
  width: 95%;
  height: 100%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 3px 5px 20px #5d001e;
}

.DirectMessages__sidebar {
  box-shadow: 5px 10px 20px black;
  height: 100%;
  overflow: scroll;
}

.DirectMessages__chat {
  box-shadow: 5px 10px 20px black;
  height: 100%;
  padding: 2%;
  overflow: scroll;
  padding-bottom: 0%;
}

.DirectMessages__connections {
  border: 2px solid black;
}

.DirectMessages__connections {
  margin-bottom: 2%;
  padding: 1%;
  background-color: white;
  box-shadow: 0px 6px 10px black;
  border-radius: 10px;
}

.DirectMessages__connections img {
  border-radius: 100%;
  width: 10%;
  float: left;
}

.DirectMessages__connections h5 {
  font-weight: bold;
  width: 80%;
  float: left;
  position: relative;
  top: 20%;
  left: 2%;
  overflow: scroll;
}

.DirectMessages__connections:hover {
  background-color: #5d001e;
  color: white;
  box-shadow: 20px 20px 40px #5d001e;
  cursor: pointer;
}

.DirectMessages__connections_active {
  background-color: black;
  color: white;
  box-shadow: 20px 20px 40px #5d001e;
}

.DirectMessages__chatarea {
  height: 90%;
  overflow: scroll;
  padding: 2%;
}

.DirectMessages__inputarea .customform {
  background-color: #5d001e;
  color: white;
  padding-right: 14%;
}

.DirectMessages__inputarea .customform:focus {
  outline: none;
  box-shadow: 0px 0px 10px black, 0px 0px 20px black, 0px 0px 20px black;
}

.DirectMessages__inputarea .fa {
  float: right;
  position: relative;
  bottom: 28px;
  color: white;
  margin: 0px 15px 0px 5px;
}

.DirectMessages__message {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  color: black;
  font-weight: bold;
  max-width: 50%;
  overflow-wrap: break-word;
  box-shadow: 5px 5px 10px #5d001e;
}

.DirectMessages__date {
  position: relative;
  font-size: 10px;
  font-weight: bold;
}

.DirectMessages__time {
  font-size: 10px;
  font-weight: bold;
}

.DirectMessages__message.sender {
  background-color: green;
  float: right;
  clear: left;
}

.DirectMessages__message.receiver {
  background-color: red;
  float: left;
  clear: right;
}

.DirectMessages__date.sender {
  float: right;
  clear: left;
}

.DirectMessages__date.receiver {
  float: left;
  clear: right;
}

.DirectMessages__time.sender {
  float: right;
  clear: left;
}

.DirectMessages__time.receiver {
  float: left;
  clear: right;
}
@media (max-width: 768px) {
  .DirectMessages__container {
    flex-direction: column;
    padding-top: 20%;
  }

  .DirectMessages__connections {
    margin-bottom: 2%;
  }
  .DirectMessages__chat {
    padding-top: 5%;
    padding-bottom: 0%;
  }

  .DirectMessages__inputarea .customform {
    padding-right: 25%;
  }

  .DirectMessages .fa-bars {
    position: absolute;
    top: 6%;
    left: -12%;
    background-color: #e3e2df;
    color: black;
  }
}
