.DirectMessages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.DirectMessages__oldmessage {
  user-select: all;
  -moz-user-select: all;
  -khtml-user-select: all;
  -webkit-user-select: all;
}

.DirectMessages .fa-bars {
  position: absolute;
  top: 3%;
  left: 50%;
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
}

.DirectMessages__container {
  display: flex;
  border: 1px solid var(--templateColor1);
  width: 95%;
  height: 100%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 3px 5px 20px var(--templateColor1);
}

.DirectMessages__sidebar {
  box-shadow: 5px 10px 20px var(--logoBgColor);
  height: 100%;
  overflow: scroll;
}

.DirectMessages__chat {
  box-shadow: 5px 10px 20px var(--logoBgColor);
  height: 100%;
  padding: 2%;
  overflow: scroll;
  padding-bottom: 0%;
}

.DirectMessages__connections {
  border: 2px solid var(--logoBgColor);
}

.DirectMessages__connections {
  margin-bottom: 2%;
  padding: 1%;
  background-color: var(--logoTextColor);
  box-shadow: 0px 6px 10px var(--logoBgColor);
  border-radius: 10px;
}

.DirectMessages__connections img {
  border-radius: 100%;
  width: 10%;
  float: left;
}

.DirectMessages__connections h5 {
  font-weight: bold;
  width: 80%;
  float: left;
  position: relative;
  top: 20%;
  left: 2%;
  overflow: scroll;
}

.DirectMessages__connections:hover {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  box-shadow: 20px 20px 40px var(--templateColor1);
  cursor: pointer;
}

.DirectMessages__connections_active {
  background-color: var(--logoBgColor);
  color: var(--logoTextColor);
  box-shadow: 20px 20px 40px var(--templateColor1);
}

.DirectMessages__chatarea {
  height: 90%;
  overflow: scroll;
  padding: 2%;
}

.DirectMessages__inputarea .customform {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  padding-right: 23%;
}

.DirectMessages__inputarea .customform:focus {
  outline: none;
  box-shadow: 0px 0px 10px var(--logoBgColor), 0px 0px 20px var(--logoBgColor),
    0px 0px 20px var(--logoBgColor);
}

.DirectMessages__inputarea .fa {
  float: right;
  position: relative;
  bottom: 28px;
  color: var(--logoTextColor);
  margin: 0px 15px 0px 5px;
}

.DirectMessages__message {
  position: relative;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  width: fit-content;
  color: var(--logoBgColor);
  font-weight: bold;
  max-width: 50%;
  overflow-wrap: break-word;
  box-shadow: 5px 5px 10px var(--templateColor1);
}

.DirectMessages__date {
  position: relative;
  font-size: 10px;
  font-weight: bold;
}

.DirectMessages__time {
  font-size: 10px;
  font-weight: bold;
}

.DirectMessages__message.sender {
  background-color: var(--senderMessageColor);
  float: right;
  clear: left;
}

.DirectMessages__message.receiver {
  background-color: var(--receiverMessageColor);
  float: left;
  clear: right;
}

.DirectMessages__date.sender {
  float: right;
  clear: left;
}

.DirectMessages__date.receiver {
  float: left;
  clear: right;
}

.DirectMessages__time.sender {
  float: right;
  clear: left;
}

.DirectMessages__time.receiver {
  float: left;
  clear: right;
}

.DirectMessages__message_hover {
  display: block;
  font-size: 0.8em;
  float: right;
}

.DirectMessages__message_non_hover {
  display: none;
}

.DirectMessages__message.sender .DirectMessages__delete_button {
  position: absolute;
  float: right;
  top: 45%;
  right: 5%;
}

.DirectMessages__message.sender .DirectMessages__edit_button {
  position: absolute;
  float: left;
  top: 45%;
  left: 5%;
}

.DirectMessages__message.receiver .DirectMessages__delete_button {
  position: absolute;
  float: right;
  top: 45%;
  right: 5%;
}

.DirectMessages__message.receiver .DirectMessages__edit_button {
  position: absolute;
  float: left;
  top: 45%;
  left: 5%;
}

@media (max-width: 900px) {
  .DirectMessages__message.sender .DirectMessages__delete_button {
    top: 15%;
    right: -12%;
  }

  .DirectMessages__message.sender .DirectMessages__edit_button {
    top: 15%;
    left: -12%;
  }

  .DirectMessages__message.receiver .DirectMessages__delete_button {
    top: 5%;
    right: -16%;
  }

  .DirectMessages__message.receiver .DirectMessages__edit_button {
    top: 5%;
    left: -16%;
  }
  .DirectMessages__container {
    flex-direction: column;
    padding-top: 20%;
  }

  .DirectMessages__connections {
    margin-bottom: 2%;
  }
  .DirectMessages__chat {
    padding-top: 5%;
    padding-bottom: 0%;
  }

  .DirectMessages__inputarea .customform {
    padding-right: 35%;
  }

  .DirectMessages .fa-bars {
    position: absolute;
    top: 6%;
    left: -12%;
    background-color: var(--templateColor3);
    color: var(--logoBgColor);
  }
}
