/* Extra small devices (portrait phones, less than 576px) */

.Emails {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: scroll;
}

.Emails__expand_icon {
  position: absolute;
  top: 40%;
  left: 0.1%;
  z-index: 2;
  padding: 1%;
  padding-right: 1.5%;
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  border-radius: 10px;
}

.Emails__expand_icon:hover .fa {
  transform: scale(1.8, 1.8);
}

.Emails__icon_header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 3.5%;
  top: 20%;
  width: 50px;
  height: 270px;
  border-radius: 10px;
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
}

.Emails__icon_header .fa:hover {
  transform: scale(1.8, 1.8);
}

.Emails__NewMail_container {
  width: 90%;
  height: 86vh;
  overflow: scroll;
  border-radius: 10px;
  background-color: var(--templateColor2);
  box-shadow: 5px 10px 40px var(--logoBgColor);
}

.Emails__NewMail_container .form-control {
  background-color: var(--templateColor2);
  color: var(--logoTextColor);
  border: none;
  padding-left: 8%;
}

.Emails__NewMail_container .form-control::selection {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
}

.Emails__NewMail_container .form-control:focus {
  box-shadow: 3px 5px 20px var(--logoBgColor);
  border: 1px solid var(--templateColor1);
}

.Emails__NewMail_container .toText {
  position: absolute;
  color: var(--logoTextColor);
  margin-left: 1%;
  margin-top: 0.5%;
}

.Emails__NewMail_container .subjectText {
  position: absolute;
  color: var(--logoTextColor);
  margin-left: 1%;
  margin-top: 0.5%;
}

.Emails__NewMail_container .body {
  padding: 1%;
}

.Emails__NewMail_container .body::placeholder {
  font-weight: bold;
  color: var(--logoTextColor);
}

.Emails__NewMail_bottombar {
  background-color: var(--templateColor1);
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Emails__NewMail_bottombar .fa {
  color: white;
  margin: 6%;
}

.Emails__NewMail_bottombar .attachments {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
