/* Extra small devices (portrait phones, less than 576px) */

.PageTemplate__container {
  border: 2px solid var(--templateColor1);
  width: 100vw;
  height: 102.4vh;
  box-shadow: 0px 0px 10px var(--boxShadowColor),
    0px 0px 10px var(--boxShadowColor), 0px 0px 10px var(--boxShadowColor);
}

.navbar {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  width: 100%;
  padding: 0%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.navbar-brand {
  background-color: var(--logoBgColor);
  color: var(--logoTextColor);
  padding: 2%;
  padding-left: 15.5%;
  padding-right: 5%;
  font-size: 1.2em;
  border-radius: 20px;
}

.navbar-brand:hover {
  color: var(--logoTextColor);
  box-shadow: 0px 0px 10px var(--logoHoverColor),
    0px 0px 10px var(--logoHoverColor), 0px 0px 10px var(--logoHoverColor);
  cursor: pointer;
}

.PageTemplate__logo {
  display: inline;
  width: 15%;
  height: 5vh;
  left: 4%;
  top: 20%;
  position: absolute;
}

.PageTemplate__navbar_icons {
  background-color: var(--logoBgColor);
  color: var(--logoTextColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vw;
  padding: 2% 10%;
  border-radius: 20px;
}

.fa {
  transform: scale(1.4, 1.4);
  cursor: pointer;
  margin: 10% 20%;
}

.PageTemplate__body {
  width: 100vw;
  height: 92.4vh;
  overflow: scroll;
}

.PageTemplate__footer {
  display: flex;
  justify-content: center;
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  font-size: 0.5em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .PageTemplate__container {
    height: 107.5vh;
  }

  .navbar {
    padding: 0%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .navbar-brand {
    padding: 2%;
    padding-left: 8.5%;
    padding-right: 3%;
    font-size: 1em;
  }

  .PageTemplate__logo {
    width: 8%;
    height: 10vh;
    left: 2%;
    top: 25%;
  }

  .PageTemplate__navbar_icons {
    min-width: 8vw;
    padding: 2% 5%;
    border-radius: 20px;
  }

  .fa {
    transform: scale(1.4, 1.4);
    margin: 10% 18%;
  }

  .PageTemplate__body {
    height: 84vh;
  }

  .PageTemplate__footer {
    font-size: 0.8em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .PageTemplate__container {
    height: 100vh;
  }

  .navbar {
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .navbar-brand {
    padding: 2%;
    padding-left: 10.5%;
    padding-right: 3%;
    font-size: 1.8em;
  }

  .PageTemplate__logo {
    width: 10%;
    height: 5vh;
    left: 2%;
    top: 25%;
  }

  .PageTemplate__navbar_icons {
    min-width: 8vw;
    padding: 3% 10%;
    border-radius: 20px;
  }

  .fa {
    transform: scale(2, 2);
    margin: 10% 50%;
  }

  .PageTemplate__body {
    height: 90vh;
  }

  .PageTemplate__footer {
    font-size: 0.8em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .PageTemplate__container {
    height: 100vh;
  }

  .navbar {
    padding: 0.5%;
    padding-bottom: 1%;
  }

  .navbar-brand {
    padding: 1%;
    padding-left: 8.5%;
    padding-right: 3%;
    font-size: 2em;
  }

  .PageTemplate__logo {
    width: 7%;
    height: 5vh;
    left: 3%;
    top: 16%;
  }

  .PageTemplate__navbar_icons {
    min-width: 8vw;
    padding: 2% 6%;
    border-radius: 20px;
  }

  .fa {
    transform: scale(2, 2);
    margin: 10% 40%;
  }

  .PageTemplate__body {
    height: 94vh;
  }

  .PageTemplate__footer {
    font-size: 0.8em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .PageTemplate__container {
    height: 103vh;
  }

  .navbar {
    padding: 0.5%;
    padding-bottom: 1%;
    height: 9vh;
  }

  .navbar-brand {
    padding: 0.5%;
    padding-left: 3.5%;
    padding-right: 1%;
    font-size: 1em;
  }

  .PageTemplate__logo {
    width: 3%;
    height: 5vh;
    left: 2%;
    top: 25%;
  }

  .PageTemplate__navbar_icons {
    min-width: 8vw;
    padding: 0.5% 2%;
    border-radius: 20px;
  }

  .fa {
    transform: scale(1.3, 1.3);
    margin: 10% 10%;
  }

  .PageTemplate__body {
    height: 91vh;
  }

  .PageTemplate__footer {
    font-size: 0.8em;
  }
}
