.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.Login__container {
  padding: 5%;
  width: 50vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--templateColor1);
  box-shadow: 0px 0px 80px var(--templateColor1),
    0px 0px 40px var(--templateColor1), 0px 0px 80px var(--templateColor1);
  border-radius: 2vw;
}

.Login__header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
}

.Login__header img {
  width: 50%;
  clear: both;
}

.Login__header h4 {
  font-weight: bold;
}

.Login__footer {
  margin-top: 10%;
  margin-left: 20%;
}

.Login__button {
  background-color: var(--templateColor1);
  color: var(--logoTextColor);
  border: 1px solid var(--logoTextColor);
  padding: 3%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px var(--logoBgColor), 0px 0px 30px var(--logoBgColor),
    0px 0px 50px var(--logoBgColor);
}

.Login__button:hover {
  background-color: var(--logoBgColor);
  color: var(--logoTextColor);
  box-shadow: 0px 0px 10px var(--templateColor1),
    0px 0px 30px var(--templateColor1), 0px 0px 50px var(--templateColor1);
}

@media (max-width: 768px) {
  .Login {
    width: 100vw;
    height: 100vh;
  }

  .Login__container {
    width: 80vw;
    height: 40vh;
  }

  .Login__header {
    margin-top: 40%;
  }

  .Login__header img {
    width: 80%;
  }

  .Login__footer {
    margin-left: 0%;
    margin-top: 40%;
  }
}
