.App__container {
  background-color: #e3e2df;
  min-width: 100vw;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
