:root {
  --templateColor1: #05386b;
  --templateColor2: #5cdb95;
  --templateColor3: #edf5e1;
  --logoBgColor: black;
  --logoTextColor: white;
  --notificationBgColor: red;
  --notificationTextColor: white;
  --senderMessageColor: rgb(67, 184, 67);
  --receiverMessageColor: rgb(255, 0, 0);
}

.App__container {
  background-color: var(--templateColor3);
  min-width: 100vw;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
