:root {
  --templateColor1: #5d001e;
  --templateColor2: #e3afbc;
  --templateColor3: #e3e2df;
  --logoBgColor: black;
  --logoTextColor: white;
  --notificationBgColor: red;
  --notificationTextColor: white;
}

.App__container {
  background-color: var(--templateColor3);
  min-width: 100vw;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
